.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.dll

.env/
.venv/
env/
venv/
pip-wheel-metadata/

build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
wheels/
share/python-wheels/
*.egg-info/
*.egg
*.manifest
*.spec
MANIFEST

.pytest_cache/
pytest_debug.log
.tox/
.nox/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/

.mypy_cache/
.dmypy.json

uvicorn*.log
reload/
openapi.json

.env
.env.*

data/
datasets/
datasets_raw/
checkpoints/
runs/
outputs/

*.pt
*.pth
*.ckpt
*.h5
*.onnx
*.pb
*.tflite
*.npy
*.npz

.ipynb_checkpoints/

.vscode/
.history/

.idea/

*.swp
*.swo
*~
